html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
}

@media not all and (min-width: 1000px) {
    html {
        font-size: 10pt;
    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
    display: flex;
    justify-content: center;
}

#parent_container {
    width: 1000px;
    margin: auto;
}
.navigation_btn {
    border-radius: 9999px;
    background-color: #1d4ed8;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #eff6ff;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
}

ul {
    padding-left: 2rem;
}
.navigation_btn:hover {
    background-color: #1e3a8a;
}

h1 {
    font-size: 2rem;
    color: #5e5e5e;
}

button:focus {
    outline:0;
}

/*::placeholder {
    color: #cbcbcb;
    padding-left: 3px;
}*/

input[type=number] {
    -moz-appearance:textfield;
}

p{
    font-size: 1rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pcenter{
    text-align: center;
    font-weight: bold;
}

.p_important{
    text-align: center;
    font-weight: bold;
    color: red;
}

.p_important2{
    text-align: center;
    font-weight: bold;
    color: green;
}

.p_inline_block {
    display: inline;
    padding: 0.2rem;
}

.text{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}


.questions_container {
    padding-top: 1rem;
    display: grid;
    gap: 1.5rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.demographics_form .radio_form {
    padding: 0.7rem 0 0 0.8rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.demographics_form .radio_form input[type=radio] {
    transform: scale(1.5);
    cursor: pointer;
}

.demographics_form .radio_form label {
    cursor: pointer;
    font-weight: 500;
    color: #111827;
    padding-right: 2.5rem;
    text-align: left;
    margin-left: 0.6rem;
}

.demographics_form .lbl_container {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: left;
    margin-top: 1.8rem;
    color: #44403c;
    font-size: 1rem;
    padding: 0.3rem 0.9rem;
}

.tooltip_badge {
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    background-color: #1d4ed8;
    margin-left: 0.4rem;
}

.demographics_form .lbl_container span:hover {
    background-color: #1e3a8a;
}

.demographics_form input[type=text],
.demographics_form input[type=email],
.demographics_form input[type=number] {
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0.7rem 1rem;
    border-color: #e2e8f0;
    border-radius: 9999px;
    border-style:solid;
    color: #1e3a8a;
    font-weight: 600;
    font-size: 1rem;
}

.demographics_form input[type=text]:focus,
.demographics_form input[type=email]:focus,
.demographics_form input[type=number]:focus {
    border-color: #1e3a8a;
}

.demographics_form input[type=number]::-webkit-inner-spin-button, 
.demographics_form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.tooltip_badge {
    position: relative;
  }

.tooltip_badge .tooltip_text {
    visibility: hidden;
    background-color: #3f3f46;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0.8rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -50%; 
    left: 2rem;
    min-width: 10rem;
  }

.tooltip_badge .tooltip_text::after {
    content: " ";
    position: absolute;
    top: 1.3rem;
    right: 100%;
    margin-top: -0.3rem;
    border-width: 0.3rem;
    border-style: solid;
    border-color: transparent #3f3f46 transparent transparent;
}

.tooltip_badge:hover .tooltip_text {
    visibility: visible;
  }

.answer_card {
    flex: none;
    background-color: white;
    border-radius: 0.375rem;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    outline: none;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    padding: 1.5rem;
    color: #1e293b;
    font-weight: 500;
    border-style: solid;
    border-width: 0.2rem;
    border-color: white;
}

.answer_card:hover {
    border-color: #334155;
}

.answer_card.selected {
    background-color: #334155;
    border-color: #334155;
    color: white;
}
/*
.instructions_image {
    width: 20%;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: red;
}*/


.question_image_example {
    width: 45%;
    object-fit: contain;
    margin: 0.5rem;
}


.question_image {
    /* width: 70%;
    height: 16rem; */
    width: 70%;
    height: 30rem;
    object-fit: contain;
    margin-bottom: 20px;
}

.navigation_btn:disabled, 
.navigation_btn[disabled]{
    cursor: default;
    background: grey;
}

form input {
    position: relative;
    display: inline-block;
  }
  
  input[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
  }